{% extends 'testing/base_testing.html' %}
{% load static %}

{% block title %}
    {{ test_run.tests }} run
{% endblock %}

{% block content_title %}
    <h2> TestRun for {{ test_run }}</h2>
{% endblock %}

{% block content %}
    <form>
        {% csrf_token %}
        <!-- {{ formset.management_form }} -->
        {% for form in formset%}
            {{ form.as_p }} 
        {% endfor %}
    </form>
    <div class="container">
        <div class="col-sm-1">
            <a href="{% url 'testing:add_note_url' %}" class="btn btn-warning" role="button">Add Note</a>
        </div>
            
    </div>
    <h3>Notes:</h3>
  
    {% for note in test_run_notes %}
      <blockquote class="blockquote">
        <p class="mb-0">{{ note.text }}</p>
        <footer class="blockquote-footer">{{ note.author }} in <cite title="Source Title">{{ note.timestamp|timesince}} ago.</cite></footer>
      </blockquote>
  {% endfor %}
{% endblock %}
