{% extends 'testing/base_testing.html' %}
{% load static %}


{% block title %}
    Add new note
{% endblock %}

{% block content_title %}
    Add new note for 
{% endblock %}

{% block content %}
    <form action="{% url 'testing:add_note_url' %}" method="POST"> %}
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}

                {{ field.label }}
                {{ field }}
            </div>
            
        {% endfor %}
        
        <button type="submit" class="btn btn-primary">Add Note</button>
        
    </form>
{% endblock %}